<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>X新闻网后台管理 - 首页</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/dist/css/adminx.css}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">

    <!--
      # Optional Resources
      Feel free to delete these if you don't need them in your project
    -->
</head>
<body>
<div class="adminx-container">
    <nav class="navbar navbar-expand justify-content-between fixed-top">
        <a class="navbar-brand mb-0 h1 d-none d-md-block" href="/admin/index">
            <img th:src="@{/img/logo.png}" class="navbar-brand-image d-inline-block align-top mr-2" alt="">
            X新闻网后台管理
        </a>

        <div class="d-flex flex-1 d-block d-md-none">
            <a href="#" class="sidebar-toggle ml-3">
                <i data-feather="menu"></i>
            </a>
        </div>

        <ul class="navbar-nav d-flex justify-content-end mr-2">
            <li class="nav-item dropdown">
                <a class="nav-link" href="/logout">退出登录</a>
            </li>
        </ul>
    </nav>

    <!-- expand-hover push -->
    <!-- Sidebar -->
    <div class="adminx-sidebar expand-hover push">
        <ul class="sidebar-nav">
            <li class="sidebar-nav-item">
                <a href="/admin/index" class="sidebar-nav-link active">
                        <span class="sidebar-nav-icon">
                            <i class="fa fa-home fa-lg"></i>
                        </span>
                    <span class="sidebar-nav-name">首页</span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <li class="sidebar-nav-item">
                <a href="/admin/user" class="sidebar-nav-link active">
                        <span class="sidebar-nav-icon">
                            <i class="fa fa-user fa-lg"></i>
                        </span>
                    <span class="sidebar-nav-name">用户管理</span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <li class="sidebar-nav-item">
                <a href="/admin/news" class="sidebar-nav-link active">
                        <span class="sidebar-nav-icon">
                            <i class="fa fa-newspaper-o fa-lg"></i>
                        </span>
                    <span class="sidebar-nav-name">新闻管理</span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <li class="sidebar-nav-item">
                <a href="/admin/category" class="sidebar-nav-link active">
                        <span class="sidebar-nav-icon">
                            <i class="fa fa-bars fa-lg"></i>
                        </span>
                    <span class="sidebar-nav-name">栏目管理</span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <li class="sidebar-nav-item">
                <a href="/admin/notice" class="sidebar-nav-link active">
                        <span class="sidebar-nav-icon">
                            <i class="fa fa-bell fa-lg"></i>
                        </span>
                    <span class="sidebar-nav-name">公告管理</span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>
        </ul>
    </div><!-- Sidebar End -->

    <!-- adminx-content-aside -->
    <div class="adminx-content">
        <!-- <div class="adminx-aside">

        </div> -->

        <div class="adminx-main-content">
            <div class="container-fluid">
                <!-- BreadCrumb -->
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb adminx-page-breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/index">首页</a></li>
                        <li class="breadcrumb-item active" aria-current="page">首页</li>
                    </ol>
                </nav>

                <div class="pb-3">
                    <h1>首页</h1>
                </div>

                <div class="row">
                    <div class="col-md-3 col-lg-3 d-flex">
                        <div class="card border-0 bg-info text-white text-center mb-grid w-100">
                            <div class="d-flex flex-row align-items-center h-100">
                                <div class="card-icon d-flex align-items-center h-100 justify-content-center">
                                    <svg t="1693911056606" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                         xmlns="http://www.w3.org/2000/svg" p-id="3522" width="32" height="32">
                                        <path d="M341.333333 725.333333h298.666667V298.666667H256v426.666666h85.333333z m-170.666666 0V213.333333h554.666666v128h128v384c0 46.933333-38.4 85.333333-85.333333 85.333334H256c-46.933333 0-85.333333-38.4-85.333333-85.333334z m554.666666-298.666666v277.333333c0 12.8 8.533333 21.333333 21.333334 21.333333s21.333333-8.533333 21.333333-21.333333V426.666667h-42.666667zM298.666667 341.333333h298.666666v85.333334H298.666667V341.333333z m0 128h298.666666v85.333334H298.666667v-85.333334z m0 128h213.333333v85.333334H298.666667v-85.333334z"
                                              fill="#ffffff" p-id="3523"></path>
                                    </svg>
                                </div>
                                <div class="card-body">
                                    <div class="card-info-title">总新闻数</div>
                                    <h3 class="card-title mb-0" th:text="${newsCount}"></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3 d-flex">
                        <div class="card border-0 bg-primary text-white text-center mb-grid w-100">
                            <div class="d-flex flex-row align-items-center h-100">
                                <div class="card-icon d-flex align-items-center h-100 justify-content-center">
                                    <svg t="1693911134076" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                         xmlns="http://www.w3.org/2000/svg" p-id="7305" width="32" height="32">
                                        <path d="M481.578667 968.832l-157.909334-158.293333H85.418667A85.290667 85.290667 0 0 1 0 725.12L0.426667 128.042667C0.426667 80.768 38.4 42.666667 85.845333 42.666667h852.778667c47.189333 0 85.418667 38.101333 85.376 85.418666l-0.426667 597.12c0 47.146667-38.229333 85.333333-85.376 85.333334h-237.781333l-158.549333 158.293333a42.624 42.624 0 0 1-60.288 0z m456.704-243.712L938.666667 128.042667s-852.906667-0.128-852.906667 0.042666c0 0-0.384 597.077333-0.298667 597.077334H341.333333c11.306667 0 22.186667 4.48 30.165334 12.501333l140.330666 140.629333 140.8-140.672a42.624 42.624 0 0 1 30.165334-12.458666h255.488zM277.333333 512a64 64 0 1 1 0-128 64 64 0 0 1 0 128z m234.666667 0a64 64 0 1 1 0-128 64 64 0 0 1 0 128z m234.666667 0a64 64 0 1 1 0-128 64 64 0 0 1 0 128z"
                                              fill="#ffffff" p-id="7306"></path>
                                    </svg>
                                </div>
                                <div class="card-body">
                                    <div class="card-info-title">总评论数</div>
                                    <h3 class="card-title mb-0" th:text="${commentCount}"></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3 d-flex">
                        <div class="card border-0 bg-dark text-white text-center mb-grid w-100">
                            <div class="d-flex flex-row align-items-center h-100">
                                <div class="card-icon d-flex align-items-center h-100 justify-content-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-users">
                                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="9" cy="7" r="4"></circle>
                                        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                    </svg>
                                </div>
                                <div class="card-body">
                                    <div class="card-info-title">总用户数</div>
                                    <h3 class="card-title mb-0" th:text="${userCount}"></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3 d-flex">
                        <div class="card border-0 bg-success text-white text-center mb-grid w-100">
                            <div class="d-flex flex-row align-items-center h-100">
                                <div class="card-icon d-flex align-items-center h-100 justify-content-center">
                                    <svg t="1693911179989" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                         xmlns="http://www.w3.org/2000/svg" p-id="8486" width="32" height="32">
                                        <path d="M513.1 187c-324 0-448.7 320-448.7 320s127 327.3 448.7 327.3S961.8 507 961.8 507 837.1 187 513.1 187z m0 522.5c-110.5 0-200.1-89.6-200.1-200.1s89.6-200.1 200.1-200.1 200.1 89.6 200.1 200.1-89.6 200.1-200.1 200.1z"
                                              fill="#ffffff" p-id="8487"></path>
                                        <path d="M400.7 508.4c0 40.4 21.5 77.6 56.5 97.8 34.9 20.2 78 20.2 113 0 34.9-20.2 56.5-57.5 56.5-97.8 0-62.4-50.6-113-113-113s-113 50.6-113 113z"
                                              fill="#ffffff" p-id="8488"></path>
                                    </svg>
                                </div>
                                <div class="card-body">
                                    <div class="card-info-title">总浏览量</div>
                                    <h3 class="card-title mb-0" th:text="${viewCount}"></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
                        <div id="main" style="width: 100%;height:400px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- If you prefer jQuery these are the required scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
<script th:src="@{/dist/js/vendor.js}"></script>
<script th:src="@{/dist/js/adminx.js}"></script>

<!-- If you prefer vanilla JS these are the only required scripts -->
<!-- script src="./dist/js/vendor.js"></script>
<script src="./dist/js/adminx.vanilla.js"></script-->

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    const myChart = echarts.init(document.getElementById('main'));
    window.onload = function () {
        $.ajax({
            url: '/admin/index/getCategory',
            type: 'get',
            dataType: 'json',
            success: function (res) {
                console.log(res)
                // 使用刚指定的配置项和数据显示图表。
                // 指定图表的配置项和数据
                myChart.setOption({
                    title: {
                        text: '栏目'
                    },
                    tooltip: {},
                    legend: {},
                    xAxis: {
                        data: res.keys
                    },
                    yAxis: {},
                    series: [
                        {
                            name: '新闻数量',
                            type: 'bar',
                            data: res.values
                        }
                    ]
                });
            }
        })
    }
    window.onresize = function () {
        myChart.resize()
    }
</script>
</body>
</html>