<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'X新闻网 - ' + ${news.title}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/dist/css/adminx.css}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/toastr.js/2.1.4/toastr.css">
    <style>
        p {
            text-indent: 2em
        }

        h1 {
            font-weight: bold;
        }

        .author {
            float: right;
        }
    </style>
    <script th:src="@{/dist/js/vendor.js}"></script>
    <script th:src="@{/dist/js/adminx.js}"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <div class="adminx-container">
        <nav class="navbar navbar-expand-lg justify-content-between fixed-top navbar-light bg-light">
            <a class="navbar-brand mb-0 h1 d-none d-md-block" href="/index">
                <img th:src="@{/img/logo.png}" class="navbar-brand-image d-inline-block align-top mr-2" alt="">
                X新闻网
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">公告</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/index">后台管理</a>
                    </li>
                </ul>
                <form class="form-inline form-quicksearch d-none d-md-block mx-auto">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-search">
                                    <circle cx="10.5" cy="10.5" r="7.5"></circle>
                                    <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
                                </svg>
                            </div>
                        </div>
                        <input type="text" class="form-control" id="search" placeholder="新闻标题">
                        <button type="button" class="btn btn-sm btn-lg btn-outline-success">搜索</button>
                    </div>
                </form>
                <ul class="navbar-nav d-flex justify-content-end mr-2">
                    <!-- Notifications -->
                    <li class="nav-item dropdown">
                        <a th:if="${session.user}" class="nav-link avatar-with-name" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" href="#">
                            <img th:src="@{${session.user.avatar != null ? '/img/' + session.user.avatar : '/img/logo.png'}}"
                                 class="d-inline-block align-top" alt="">
                        </a>
                        <a th:unless="${session.get('user')}" class="nav-link" href="/login">登录/注册</a>
                        <div th:if="${session.get('user')}" class="dropdown-menu dropdown-menu-right"
                             aria-labelledby="navbarDropdownMenuLink">
                            <span class="dropdown-item" th:text="${session.user.username}"></span>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-primary" href="#">个人中心</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-primary" href="/logout">退出登录</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="adminx-content">
            <div class="adminx-main-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h1 class="card-title" th:text="${news.title}"></h1>
                                    <span style="color: rgba(0,0,0,.5);"
                                          th:text="${news.createTime.toString().replace('T', ' ')}"></span>
                                    <span style="color: rgba(0,0,0,.5);float: right;"
                                          th:text="${'浏览量：'+news.views}"></span>
                                    <hr/>
                                    <img th:unless="${news.img eq '' || news.img eq null}"
                                         th:src="@{'/img/' + ${news.img}}"
                                         class="card-img-top">
                                    <div class="card-text" th:utext="${news.content}"></div>
                                    <div class="author" th:text="'[责任编辑：'+${news.author}+']'"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group" th:unless="${relatedNews.isEmpty()}">
                                <li class="list-group-item">相关新闻</li>
                                <li class="list-group-item" th:each="item : ${relatedNews}">
                                    <a class="nav-link" th:href="${'/news/' + item.id}"
                                       th:text="${item.title}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 50px;">
                        <div class="col-md-6">
                            <div class="card mb-grid">
                                <div class="card-header">
                                    <div class="card-header-title">
                                        网友评论<span style="float: right" th:text="'评论数：'"></span>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <textarea class="form-control" rows="6" placeholder="我有话要说。。。"></textarea>
                                            <div class="row" style="margin-top: 10px;">
                                                <div class="col-sm-10" style="text-align: right">
                                                    <span class="nav-link" th:unless="${session.user}">必须登录才能发表评论</span>
                                                </div>
                                                <div class="col-sm-2">
                                                    <a href="/login" class="nav-link"
                                                       th:unless="${session.user}">登录</a>
                                                    <button class="btn btn-primary" th:if="${session.user}">发表</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="comment">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- If you prefer jQuery these are the required scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

<!-- If you prefer vanilla JS these are the only required scripts -->
<!-- script src="../dist/js/vendor.js"></script>
<script src="../dist/js/adminx.vanilla.js"></script-->

<script>
    const app = new Vue({
        el: '#app',
        data: {
            comments: [],
            nid: 0,
            pageSize: 10,
            pageNum: 0,
            totalElements: 0,
            totalPages: 0,
        },
        methods: {
            getCommentList() {
                axios.get('/comment/getComments', {
                    params: {
                        pageNum: this.pageNum,
                        pageSize: this.pageSize,
                        nid: this.nid
                    }
                })
                    .then(res => {
                        console.log(res)
                        this.comments = res.data.msg
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            previous(pageNum) {
                pageNum = (pageNum >= 0) ? pageNum : 0;
                console.log(pageNum)
                this.pageNum = pageNum
                this.getCommentList()
            },
            skip(pageNum) {
                console.log(pageNum)
                this.pageNum = pageNum
                this.getCommentList()
            },
            next(pageNum) {
                pageNum = (pageNum <= this.totalPages - 1) ? pageNum : this.totalPages - 1;
                console.log(pageNum)
                this.pageNum = pageNum
                this.getCommentList()
            },
            changePageSize() {
                console.log(this.pageSize)
                this.getCommentList()
            }
        },
        mounted() {
            const url = window.location.pathname
            this.nid = url.substring(url.lastIndexOf('/') + 1, url.length)
            console.log(this.nid)
            this.getCommentList()
        },
    })
</script>
</body>
</html>