<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>X新闻网 - 修改密码</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/dist/css/adminx.css}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/toastr.js/2.1.4/toastr.css">
    <script th:src="@{/dist/js/vendor.js}"></script>
    <script th:src="@{/dist/js/adminx.js}"></script>
</head>
<body>
<div class="adminx-container">
    <nav class="navbar navbar-expand-lg justify-content-between fixed-top navbar-light bg-light">
        <a class="navbar-brand mb-0 h1 d-none d-md-block" href="/index">
            <img th:src="@{/img/logo.png}" class="navbar-brand-image d-inline-block align-top mr-2" alt="">
            X新闻网
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notice">公告</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/index">后台管理</a>
                </li>
            </ul>
            <form class="form-inline form-quicksearch d-none d-md-block mx-auto" method="get" action="/search">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-search">
                                <circle cx="10.5" cy="10.5" r="7.5"></circle>
                                <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
                            </svg>
                        </div>
                    </div>
                    <label for="query"></label>
                    <input name="query" type="text" class="form-control" id="query" placeholder="新闻标题">
                    <button type="submit" class="btn btn-sm btn-lg btn-outline-success">搜索</button>
                </div>
            </form>
            <ul class="navbar-nav d-flex justify-content-end mr-2">
                <!-- Notifications -->
                <li class="nav-item dropdown">
                    <a th:if="${session.user}" class="nav-link avatar-with-name" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" href="#">
                        <img th:src="@{${session.user.avatar != null ? '/img/' + session.user.avatar : '/img/logo.png'}}"
                             class="d-inline-block align-top" alt="">
                    </a>
                    <a th:unless="${session.user}" class="nav-link" href="/login">登录/注册</a>
                    <div th:if="${session.user}" class="dropdown-menu dropdown-menu-right"
                         aria-labelledby="navbarDropdownMenuLink">
                        <span class="dropdown-item disabled" th:text="${session.user.username}"></span>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-primary" th:href="@{${'/profile/'+session.user.id}}">个人中心</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-primary" href="/logout">退出登录</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="adminx-content">
        <div class="adminx-main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <div class="list-group">
                            <a th:href="@{${'/profile/'+profile.id}}"
                               class="list-group-item list-group-item-action">个人资料</a>
                            <a th:href="@{${'/updateProfile/'+profile.id}}"
                               class="list-group-item list-group-item-action active">修改资料</a>
                            <a th:href="@{${'/updatePassword/'+profile.id}}"
                               class="list-group-item list-group-item-action">修改密码</a>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card mb-grid">
                            <div class="card-header">
                                <div class="card-header-title">修改密码</div>
                            </div>
                            <div class="card-body">
                                <input type="hidden" id="id" th:value="${profile.id}">
                                <div class="form-group">
                                    <label for="password">新密码</label>
                                    <input type="password" id="password" name="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="confirm">确认密码</label>
                                    <input type="password" id="confirm" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button onclick="submit()" type="button" class="btn btn-primary">修改</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- If you prefer jQuery these are the required scripts -->
<script src=" https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>

<!-- If you prefer vanilla JS these are the only required scripts -->
<!-- script src="../dist/js/vendor.js"></script>
<script src="../dist/js/adminx.vanilla.js"></script-->
<script>
    function submit() {
        const password = $('#password').val()
        const confirm = $('#confirm').val()
        const id = $('#id').val()
        if (password === '' || confirm === '') {
            toastr.warning('密码不能为空！')
        } else {
            if (password !== confirm) {
                toastr.warning('两次密码不一致！')
            } else {
                $.ajax({
                    url: '/updatePassword',
                    type: 'post',
                    // headers: {'Content-Type': 'application/json;charset=utf8'},
                    // dataType: "json",
                    data: {
                        id: id,
                        password: password
                    },
                    success: function (res) {
                        console.log(res);
                        toastr.success(res.msg)
                    }
                })
                ;
            }
        }
    }
</script>
</body>
</html>